<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home">CMSi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="work-record-form">Work Record Form</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="work-record-list">Work Record List</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [hidden]="isAuthenticated">
        <a class="btn btn-dark text-white" routerLink="login">Login</a>
      </li>
      <li class="nav-item" [hidden]="!isAuthenticated">
        <span class="nav-link">Welcome, {{ username }}</span>
      </li>
      <li class="nav-item" routerLinkActive="active" [hidden]="!isAuthenticated">
        <a class="btn btn-dark text-white" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>